<body class="row-space-evenly">
    <!-- before screen -->
    <div *ngIf="beforeScreen == false" class="before-screen column-flex-center position-fix" #beforeScreen>
        <h1>Stocks</h1>
        <div class="spinner">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
            <div class="bar4"></div>
            <div class="bar5"></div>
            <div class="bar6"></div>
            <div class="bar7"></div>
            <div class="bar8"></div>
            <div class="bar9"></div>
            <div class="bar10"></div>
            <div class="bar11"></div>
            <div class="bar12"></div>
        </div>
    </div>
    <!-- stocks -->
    <div class="left column-space-evenly">
        <div class="input display-grid-center" #error>
            <input type="text" #search (keyup.enter)="getStock(search.value)" placeholder="Search for a crypto">
        </div>
        <div class="stocks column-space-evenly">
            <div class="stock row-space-evenly" *ngFor="let item of cryptos">
                <h1>{{item.ticker.base || "COIN"}}</h1>
                <h2>Price <br> {{item.ticker.price || 0}}€</h2>
                <h2>Change <br> {{item.ticker.change || 0}}€</h2>
            </div>
        </div>
    </div>
    <div class="right column-space-evenly">
        <div class="top column-space-evenly">
            <div class="graph">
                <img src="assets/images/chart.png" alt="graph">
            </div>
            <div class="bottom-showdown row-space-evenly">
                <h1>{{this.stock.ticker.base || "COIN"}}</h1>
                <h2>Price <br> {{this.stock.ticker.price || 0}}€</h2>
                <h2>Change <br> {{this.stock.ticker.change || 0}}€</h2>
            </div>
        </div>
        <div class="bottom display-grid-center">
            <div class="balance display-grid-center">
                <h2>Balance <br>{{this.saldoService.balance || 0}}€</h2>
            </div>
            <div class="button column-flex-center">
                <button class="buy" (click)="buy(buyInput)">Buy</button>
                <div class="input display-grid-center">
                    <input type="text" placeholder="Crypto to buy" #buyInput>
                </div>
            </div>
            <div class="button column-flex-center">
                <button class="sell" (click)="sell(sellInput)">Sell</button>
                <div class="input display-grid-center">
                    <input type="text" placeholder="Crypto to sell" #sellInput>
                </div>
            </div>
        </div>
    </div>
</body>
