<body class="row-space-evenly">
    <!-- before screen -->
    <div *ngIf="beforeScreen == false" class="before-screen column-flex-center position-fix" #beforeScreen>
        <h1>Stocks</h1>
        <div class="spinner">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
            <div class="bar4"></div>
            <div class="bar5"></div>
            <div class="bar6"></div>
            <div class="bar7"></div>
            <div class="bar8"></div>
            <div class="bar9"></div>
            <div class="bar10"></div>
            <div class="bar11"></div>
            <div class="bar12"></div>
        </div>
    </div>

    <!-- stocks -->
    <div class="left space-space-evenly">
        <div class="input display-grid-center">
            <input type="text" #search (keyup.enter)="getStock(search.value)">
        </div>
        <div class="stocks"></div>
    </div>
    <div class="right column-space-evenly">
        <div class="top"></div>
        <div class="bottom"></div>
    </div>
</body>