@font-face {
    font-family: "SFPro";
    src: url("fonts/SFProDisplay-Thin.ttf") format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: "SFPro";
    src: url("fonts/SFProDisplay-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "SFPro";
    src: url("fonts/SFProDisplay-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "SFPro";
    src: url("fonts/SFProDisplay-Semibold.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "SFPro";
    src: url("fonts/SFProDisplay-Bold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "SFPro";
    src: url("fonts/SFProDisplay-Heavy.ttf") format("truetype");
    font-weight: 700;
}
